<!-- contact-section -->
<footer id="contact-section" class="bg-light text-dark pt-5 pb-3 mt-5">
    <div class="container">
        <!-- Bagian Konten Utama dengan Flexbox -->
        <div class="d-flex justify-content-between align-items-center">
            <!-- Konten Kiri - Kontak -->
            <div class="text-left">
                <h5 class="mb-4">Hubungi Kami</h5>
                <div class="d-flex justify-content-start mb-4">
                    <!-- Instagram -->
                    <a href="https://instagram.com/rscubpk" target="_blank" class="text-dark mx-3">
                        <i class="bi bi-instagram" style="font-size: 1.5rem;"></i>
                    </a>
                    <!-- WhatsApp -->
                    <a href="https://wa.me/6287811192774" target="_blank" class="text-dark mx-3">
                        <i class="bi bi-whatsapp" style="font-size: 1.5rem;"></i>
                    </a>
                </div>
                <!-- Garis pemisah -->
                <div class="separator mt-4 mb-3"></div>
            </div>

            <!-- Konten Kanan - Partnership -->
            <div class="text-right">
                <h5 class="mb-4">Partnership</h5>
                <!-- Logo Sponsor -->
                <div class="d-flex justify-content-end mb-4">
                    <a href="https://www.djarum.com/home#sec-2" target="_blank" class="mx-3">
                        <img src="layout/sponsor.jpg" alt="Sponsor 1" style="height: 40px;">
                    </a>
                    <a href="https://ubpkarawang.ac.id/" target="_blank" class="mx-3">
                        <img src="layout/logoubp.jpg" alt="Sponsor 2" style="height: 40px;">
                    </a>
                </div>
            </div>
        </div>
        <!-- Teks Copyright di Tengah -->
        <div class="text-center mt-4">
            <p class="small">© 2024 Rektor Sport Championship.</p>
        </div>
    </div>
</footer>
<!-- <footer>
    <hr>
    <b>Dibuat oleh Javier</b>
</footer> -->