* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #1003ce;
    color: #fff;
    padding: 20px 0;
}

.header-content {
    display: flex;
    align-items: center; /* Agar teks dan logo rata tengah secara vertikal */
    justify-content: center;
}

header h1 {
    text-align: center;
    font-size: 2.5em;
    margin-left: 20px; /* Memberi jarak antara logo dan teks */
}


header .logo {
    width: 50px; 
    height: auto;

}



nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}



#about {
    padding: 50px 0;
    background-color: #fff;
}

#about h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

#about p {
    text-align: center;
    font-size: 1.1em;
    line-height: 1.8;
}

#events {
    padding: 50px 0;
}

#events h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.event-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.event-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.event-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.event-card p {
    font-size: 1.1em;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    font-size: 1em;
}
